
 
<div >
<img src="assets/images/login.jpg" alt="loginPage" class="loginPage">
<span class="msg" *ngIf="Errormsg">{{ErrorText}}</span>

<div class="formArea">
    <form class="form" (ngSubmit)="onSubmit()" #f="ngForm" autocomplete="off">
      
      <div style="height: 1.4vw;width:100%;background:transparent;">
      </div>
      <div class="formDiv" >
        
          <input type="text" class="input" id="name" name="name" [(ngModel)]="model.name" required
            #name="ngModel" autocomplete="off" placeholder="Name"/>
        </div>
        <div style="height: 3.3vw;width:100%;background:transparent;">
        </div>
        <div class="formDiv" >
        
          <input type="email" class="input" id="email" name="email" [(ngModel)]="model.email" required
            #email="ngModel" autocomplete="off" placeholder="Email ID"/>
        </div>
        
      <div style="height: 3.3vw;width:100%;background:transparent;">
            </div>
  
    <div class="text-center">
      <img class="formButton" src="assets/images/Enter.png" (click)="onSubmit()" *ngIf="showLoginButton">
     
    </div>
      
    <div style="height: 1vw;width:100%;background:transparent;">
    </div>

        
      </form>
</div>
</div>